.App {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    color: white;
    background-image: url('/public/loginbackground.jpg');
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .Page-Header{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    top: -100px;
    text-align: center;
  }

  .Form-Background{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 20px;
    border-radius: 10%;
    position: relative;
    
  }

  img:hover{
    filter:brightness(75%);
  }

  .Login-Form{
    top: -40px;
  }

  .Home-List{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    justify-content: center; 
  }

  .Home-List img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .btn-logout{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn-home{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .Curr-User{
    position: absolute;
    top: 15px;
    right: 200px;
  }

  .New-Conf-Header{
    top: -20px
  }

  .Home-Image{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 40px;
    left: 20px
  }

  .Author_Home{
    position:relative;
    bottom:60px;
  }

  