.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('/public/loginbackground.jpg');
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .Page-Header{
    font-family:'Times New Roman', Times, serif;
  }

  .Login-Background{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 20px;
    border-radius: 10%;
  }